<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <title>500 Server Error</title>
    <link rel="stylesheet" href="/css/500.css"/>
</head>
<body>

<div id="error">Error</div>
<div class="error-num">500
    <div class="error-num__clip">500</div>
</div>
<p id="desc">Uh oh, there seems to be a problem.</p>
<p>Go back to <a th:href="@{/home}">home page</a></p>

</body>
</html>