<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/catalogHead :: catalog-head"></head>
<body>
<nav th:replace="/fragments/commons :: navigation"></nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="card bg-transparent text-white">
        <div class="card-body" th:object="${computer}">
            <h3 class="card-title font-weight-bold " th:text="*{name}">Offer name</h3>
            <h6 class="card-subtitle font-weight-bold " th:text="*{computerName}">Computer name</h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="/images/desktop-computer.png" class="img-responsive bg-cart img-fluid"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Computer description</h4>
                    <p th:text="*{computerDescription}">Description</p>
                    <h2 class="mt-5" th:text="|$*{price}|">
                        $153

                    </h2>

                    <a th:href="@{/offers/computers/{id}/buy(id = *{id})}" class="btn btn-primary btn-rounded btn-success">Buy</a>
                    <a th:href="@{/offers/computers/{id}/edit(id = *{id})}" class="btn btn-primary btn-rounded">Edit</a>

<!--                    <th:block th:if="*{canDelete}">-->
                        <form th:action="@{/offers/computers/{id}/delete(id = *{id})}" th:method="delete" class="btn btn-primary btn-rounded btn-danger">
                            <input type="submit" class="bg-transparent" style="border:none; color: white" value="Delete"/>
                        </form>
<!--                    </th:block>-->

                    <h3 class="box-title mt-5">Key Highlights</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>Trust our choice for the perfect custom built machine!</li>
                        <li><i class="fa fa-check text-success"></i>Designed to make your work and your life easier!</li>
                        <li><i class="fa fa-check text-success"></i>Perfect example of a modern and trustfully device!</li>
                    </ul>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">

                        <table class="table  table-product  table-dark table-hover table-bordered text-white">
                            <tbody>
                            <tr>
                                <td width="390">Manufactured On</td>
                                <td th:text="*{computerManufacturedOn}"></td>
                            </tr>
                            <tr>
                                <td>Computer Box</td>
                                <td th:text="*{computerBox}"></td>
                            </tr>
                            <tr>
                                <td>Video card</td>
                                <td th:text="*{computerVideoCard}"></td>
                            </tr>
                            <tr>
                                <td>Processor</td>
                                <td th:text="*{computerProcessor}"></td>
                            </tr>
                            <tr>
                                <td>Random Access Memory</td>
                                <td th:text="*{computerRam}"></td>
                            </tr>
                            <tr>
                                <td>Power Supply</td>
                                <td th:text="*{computerPowerSupply}"></td>
                            </tr>
                            <tr>
                                <td th:text="*{computerDriveTypeName}"></td>
                                <td th:text="*{computerDrive}"></td>
                            </tr>
                            <tr>
                                <td>Seller Name</td>
                                <td th:text="*{sellerFullName}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/fragments/commons :: footer"></footer>
</body>
</html>