<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons :: head"></head>
<body>
<script th:src="@{/js/showMoney.js}"></script>
<nav th:replace="/fragments/commons :: navigation"></nav>

<div class="container bg-white mt-5">
    <form th:object="${offerDetails}" th:action="@{/offers/computers/{id}/buy(id = ${offerDetails.id})}" th:method="post">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Checkout Computer</b></h4>
                        </div>
                    </div>
                </div>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" th:src="@{/images/desktop-computer.png}"></div>
                        <div class="col">
                            <div class="row text-muted" th:text="*{name}"></div>
                            <div class="row" th:text="*{computerName}"></div>
                        </div>
                        <div id="totalMoneyOne" class="col" th:text="|$*{price}|"></div>
                    </div>
                </div>


                <div class="back-to-shop ">
                    <a class="text-black-50" th:href="@{/computers/catalog}">&leftarrow; Back to shop</a>
                </div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <p>ADD COUPON</p>
                <select onclick="showMoney(event)" name="couponName" class="custom-select border-dark">
                    <option value="" selected>SELECT COUPON</option>
                    <option th:each="c : ${couponsNames}" th:text="${c.name}" th:value="${c.name}"></option>
                </select>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div id="totalMoneyTwo" class="col text-right" th:text="|$*{price}|"></div>
                </div>

                <p th:if="${!canUserBuy}" class="bg-danger text-center">You don't have enough money to buy this product!</p>

                <button class="btn btn-success m-1 text-black" type="submit">CHECKOUT</button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="/fragments/footer-fixed-bottom :: footer-fixed-bottom"></footer>

</body>
</html>