<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/homeHead :: homeHead"></head>
<body>

<nav th:replace="/fragments/commons :: navigation"></nav>

<div class="container mt-100">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="/computers/catalog" data-abc="true">
                <div class="inner">
                    <div class="main-img"><img src="https://i.imgur.com/O0GMYuw.jpg" alt="Category"></div>
                    <div class="thumblist"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Category"><img
                            src="https://i.imgur.com/2kePJmX.jpg" alt="Category"></div>
                </div>
            </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Computers</h4>
                    <p class="text-muted">[(#{startingFrom})] $499</p><a class="btn btn-outline-primary btn-sm"
                                                                   href="/computers/catalog" data-abc="true" th:text="#{viewComputers}">View
                    Computers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="/smartphones/catalog" data-abc="true">
                <div class="inner">
                    <div class="main-img"><img src="https://i.imgur.com/uRgdVY1.jpg" alt="Category"></div>
                    <div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img
                            src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div>
                </div>
            </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Smartphones</h4>
                    <p class="text-muted">[(#{startingFrom})] $50</p><a class="btn btn-outline-primary btn-sm"
                                                                  href="/smartphones/catalog" data-abc="true" th:text="#{viewSmartphones}">View
                    Smartphones</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="/users/my-coupons" data-abc="true">
                <div class="inner">
                    <div class="main-img"><img src="/images/gift.png" alt="Category"></div>
                    <div class="thumblist"><img src="/images/bigCoupon.jpg" alt="Category"><img
                            src="/images/couponTwo.svg" alt="Category"></div>
                </div>
            </a>
                <div class="card-body text-center">
                    <h4 class="card-title" th:text="#{myCoupons}">My Coupons</h4>
                    <p class="text-muted" th:text="#{viewCouponsMessage}">View your coupons for shopping</p><a class="btn btn-outline-primary btn-sm"
                                                                               href="/users/my-coupons" data-abc="true" th:text="#{viewCoupons}">View
                    Coupons</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TODO https://imgur.com/t/coupons/Qaahz    https://www.youtube.com/watch?v=_VBCPt-wJ2w  https://freefrontend.com/bootstrap-product-cards/-->


<footer th:replace="/fragments/footer-fixed-bottom :: footer-fixed-bottom"></footer>


</body>
</html>